doctype html
html(lang="en")
    head
        meta(http-equiv="Content-Type", content="text/html;charset=UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0 maximum-scale=1.0 user-scalable=no")
        meta(name="keywords", content="")
        title Memory Game
        link(rel="shortcut icon", href="images/apple.png", type="image/x-icon")
        link(rel="stylesheet", href="sass/style.css")
        script(src="js/main.js") 
    body
        noscript You need to enable javascript to run this app
        div 
            h3#score Score: 
                span#result 0
            h3#life Lifes: 
                span#lifes
        .grid 